docker.sh
docs.sh
.git
tmp

# Mix artifacts
/_build
/deps

/example/_build
/example/deps
/example/priv/static
/example/assets/node_modules

# Generate on crash by the VM
/erl_crash.dump
/example/erl_crash.dump
