@tailwind base;

@tailwind components;

.btn-primary {
  @apply bg-teal-500 text-white font-bold py-2 px-4 rounded;
}

.btn-primary:focus {
  @apply outline-none shadow-outline;
}

.btn-primary:hover {
  @apply bg-teal-700;
}

.btn-inactive {
  @apply bg-gray-500 text-white font-bold py-2 px-4 rounded;
}

.btn-inactive:focus {
  @apply outline-none shadow-outline;
}

.btn-inactive:hover {
  @apply bg-gray-700;
}

.input {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

.input:focus {
  @apply outline-none shadow-outline;
}

.tooltip {
  @apply absolute hidden mt-1 z-50 bg-black text-white text-sm rounded py-1 px-4 opacity-75 border-solid border border-gray-600;
}

.tooltip-hover {
  &.right .tooltip {
    @apply right-0;
  }

  &:hover .tooltip {
    @apply block;
  }
}

@tailwind utilities;

.blink {
  animation: 2s linear infinite blink_effect;
}

@keyframes blink_effect {
  0% {
    visibility: hidden;
  }

  50% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}
